

/*Removes all padding and margin from elements that have them applied by default.
  Makes all pseudo-elements (::before and ::after) inherit their parent's box-sizing as opposed
  to always using content-box. This determines if properties like padding are applied inwards
  (maintaining element width) or outwards (adding to the element width).
  Ref: https://stackoverflow.com/questions/58981682/whats-the-purpose-of-these-css-rules
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family:Roboto, system-ui, sans-serif;
    height: 100vh;

}

.site-content {
    display:flex;
    justify-content: flex-start;
    height: 100%;
}

.img-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30vh;
    padding-bottom: 30px;
    width: 30vw;
    height: 100%;
    min-width: 200px;
    background-color:aquamarine;
}

.logo-overlay {
    display:flex;
}

.info-container {
    height: 100vh;
    width: 70vw;
    min-width: 300px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    min-width: 400px;

}

.form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    align-self: stretch;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: hsla(0, 0%, 75%, 0.15);
    box-shadow: -10px 10px 10px -10px rgba(192, 192, 192, 0.5), +10px 10px 10px -10px rgba(192, 192, 192, 0.5);

    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:500px;
    gap: 20px;
}

.form-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-input > label {
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.info-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-left: 30px;
}

